body{

        background-image: url(imges/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
}
.keys
{
    display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;

}
.key
{
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
font-size:1.5rem;
padding: 1rem 0.5rem;
transition: all 0.07s;
width: 100px;
text-align: center;
color: white;
background: rgba(0,0,0,0.4);
text-shadow: 0 0 5px black;


}
.playing{

 transform: scale(1.1);
 border-color: #ff0077;
  box-shadow: 0 0 5px  #eb1679;  
}
kbd{
display: block;
font-size: 40px;

}
.sound{
font-size: 1.2rem;
text-transform: uppercase;
letter-spacing: 1px;
color:  #eb1679;

}
span{
    color: rgb(14, 10, 245);
}
  